body {
    background-color: #333333;
    font-size: 50px;
}

.content {
    margin-top: 10vh;
}

button {
    color: darkorange;
    background-color: gray;
    border: 0 solid;
    border-radius: 10px;
    position: absolute;
    left: 10;
}

span {
    text-align: center;
    color: white;
    display: inline-block;
}

.glyphicon.glyphicon-plus {
    position: absolute;
    right: 10;
}

.title {
    height: 7vh;
    border-style: none;
    border-bottom: 1px solid #666666;
}

.alarm {
    padding: 5vw;
   border-bottom: 1px solid #666666;
}
.time {
    line-height: 4em;
    height: 4em;
}