
.switch {
    position: relative;
    display: inline-block;
    width: 25vw;
    height: 8vh;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 6vh;
    width: 10vw;
    left: 2vw;
    bottom: 1vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #33FF33;
}

input:focus+.slider {
    box-shadow: 0 0 1px #33FF33;
}

input:checked+.slider:before {
    -webkit-transform: translateX(11vw);
    -ms-transform: translateX(11vw);
    transform: translateX(11vw);
}


/* Rounded sliders */

.slider.round {
    border-radius: 12vh;
}

.slider.round:before {
    border-radius: 50%;
}